*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    
}
::-webkit-scrollbar{
    display: none;
}


.bg{
    background-color: #515A5A;
    height: 100vh;
}
.dayChecker{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.dayChecker h2{
margin-top: 40px;
font-family: sans-serif;
font-size: 40px;
color: #fff;
}
.txt-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0;
    transition: 3.5s;   
}
.txt-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    background-color:#D0D3D4;
    width: 50%;
    height: 100px;
    border: 3px solid #17202A;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;  
}
.box2{
    background-color:#D0D3D4;
    width: 50%;
    height: 100px;
    border: 3px solid #17202A;
    margin-top: 30px;
    border-radius: 20px;
      
}
.txt-box p{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 20px;
}
.nameparabox p{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;   
}
.namefield{
   width: 80%;
   outline: none;
   padding: 30px 0 30px 0;
   background-color:#D0D3D4;
   border: none;
   font-size: 23px;
   text-indent:8px;
   
}
.time{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    justify-content: center;
    margin-top: 100px;
    
}
#hourSelector{
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: 4px 3px 3px #17202A ;
    background-color: #FDEDEC;
}
.minuteSelector{
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: 4px 3px 3px #17202A ;
    background-color: #FDEDEC;
}
.timeSelector{
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: 4px 3px 3px #17202A ;
    background-color: #FDEDEC;
    
}
.txt{
    font-size: 15px;
    font-family: sans-serif;   
}

.checkbtn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.checkbtn button{
    padding: 15px 70px 15px 70px;
    background-color: #922B21;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 200px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: none;
      
}
.btn{
    display: none;
}
.btn2{
    position: relative;
    display: none;
    outline: none;
}
.paraText{
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
}
.submitBTN{
    padding: 15px 70px 15px 70px;
    background-color: #922B21;
    color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 200px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    left: 283px;
    top: 10px;
    outline: none;
    border: none;
}



/* Tablet and Under */

@media(max-width: 768px){
    .dayChecker h2{
        margin-top: 40px;
        margin-right: 0px;
        font-family: sans-serif;
        font-size: 30px;
        color: #fff;
    }
    .txt-container{
        margin-right: 0px;   
    }
    .namefield{
        width: 48%;
        outline: none;
        padding: 30px 0 30px 0;
        background-color:#D0D3D4;
        border: none;
        font-size: 23px;
        text-indent:8px;
        position: relative;
     }
     .submitBTN{
        position: relative;
        left: 100px;
        margin-top: 10px;
    }
    .txt-box p{
        font-family: sans-serif;
        font-size: 20px;
        margin-top: 20px;
    }
    .checkbtn button{
       position: relative;
       left: 0px;
       margin-top: 100px;
        cursor: pointer;
        border-radius: 8px;
          
    }
    .time{
        display: none;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        justify-content: center;
        margin-top: 100px;
        margin-right: 0px;
        
    }
    
}


/* Mobile and Under */

@media(max-width: 500px){
    .dayChecker h2{
        margin-top: 40px;
        margin-right: 0px;
        font-size: 20px;
    }
    .txt-container{
        margin-right: 0px;   
    }
    .namefield{
        width: 100%;
        border: none;
        text-align: center;
        text-indent:0px;
     }
     .submitBTN{
        position: relative;
        left: 0px;
        margin-top: 10px;
    }
    .txt-box p{
        font-family: sans-serif;
        font-size: 15px;
        margin-top: 20px;
    }
    .checkbtn button{
        position: relative;
        left: -50px;
        margin-top: 100px;
         cursor: pointer;
         border-radius: 8px;     
     }
     .time{
        display: none;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        justify-content: center;
        margin-top: 100px;
        margin-left: 0px;
        
    }
    .paraText{
        position: relative;
        right: 65px;
        top: 20px;
        font-size: 10px;
        display: none;
    }
    .checkbtn .btn2{
        position: relative;
       left: 0px;
    }
}

