html{
    scroll-behavior: smooth;;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg1{
    background-color: #F4F6F6;
    height: auto;
    
}
.welcome{
    color: #17202A;
    margin-top: 50px;
}
.userEmailContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.userEmail{
    font-size: 25px;
    color: #212F3D;
    margin-bottom: 10px;
}
.userName{
    margin-top: 50px;
}
.evaluationContainer{
    display: flex;
    justify-content: right;
}
.evaluationContainer h3{
    font-size: 20px;
    border-bottom: 30px;
    
}

.tabelContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

table{
    margin-top: 30px;
    border: 1px #909497 solid ;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 50, 0.3);
    height: auto;
    width: 100%;
    border-collapse: collapse  
}

td, tr{
    border: 1px #909497 solid ;
    padding: 1px;  
    height: 50px;
    padding-left: 20px;
    font-family: sans-serif;  
}
.inputBox{
    width: 60%;
    background-color: #F4F6F6;
    border: none;
    outline: none;
    height: 70%;
    margin-left: 10px;
    text-indent: 10px;
}
.section7 .inputBox{
    width: 90%;
    font-size: 11px;  
}

.ratingContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.section1 input{
    width: 10%;
}
 /*.label[for=text]{
    font-family: sans-serif;
    margin-top: 200px;

}*/

.tableContTable input{
    width: 90%;    
}

.titleTxtContainer{
    display: flex;
    flex-wrap: wrap;
   
}
.titleTxtContainer p{
    font-size: 18px;
}

.textAreaBox{
    margin-top: 20px;
    background-color: #F4F6F6;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 50, 0.3);
    outline: none;
    margin-bottom: 50px;
    width: 100%;
}

.section6{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.tabelContainer2 p{
    color:#FF7469;
    font-size: 18px;
    
}
.nameCont{
    display: flex;
}
.subNameContainer{
    width: 100%;
    margin-bottom: 10px;
   
}
.subNameContainer .inputBox{
    width: 100%;
    background-color: #F4F6F6;
    border: 1px solid black;
    outline: none;
    height: 70%;
    margin-left: 10px;
    text-indent: 10px;
    
}

.tabelContainer2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
   
}
.tabelContainer2 p{
    font-size: 18px;
}

.tdCustom{
    width: 100%;
}
.textAreaBox2{
    margin-top: 20px;
    background-color: #F4F6F6;
    outline: none;
    margin-bottom: 50px;
    border: none;  
}

.testimonial{
    font-size: 18px;
    margin-top: 20px;
}
.section7Text{
    display: flex;
}

.finalText{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.finalText p{
    margin-bottom: 20px;
}
.section7 .btn{
    margin-top: 10px;
    width: 20%;
}
.buttonLabel{
    display: inline-flex;
}





/* Tablet and under */
@media(max-width: 768px){
    .section7 .inputBox{
        width: 90%;
        font-size: 11px;  
    }
    .tableContTable input{
        width: 90%;
        font-size: 11px; 
        
    }
    
    .inputBox{
        width: 50%;
    }
    .tdA{
        display: flex;
        flex-direction: column;
        
    }
    .tdB{
        display: flex;
        flex-direction: column;
        
    }
    @-moz-document url-prefix(){
        .textAreaBox{
            width: 100%;
        }
        .evaluationContainer{
            justify-content: left;
        }
        
    }

}





/* Tablet and under */
@media(max-width: 500px){

    td{
        font-size: 13px;
    }
    .inputBox{
        width: 90%;
        background-color: #F4F6F6;
        border: none;
        outline: none;
        height: 70%;
        margin-left: 10px;
        text-indent: 1px;
    }
    @-moz-document url-prefix(){
        .textAreaBox{
            width: 100%;
        }
        .section3Table input{
            font-size: 18px;
        }
        .evaluationContainer{
            justify-content: left;
        }
        
    }
    .section7 .btn{
        margin-top: 10px;
        width: 40%;
    }
/* Button display properties. This hides the labels on mobile and display the paragraph texts */
.buttonPara{
    display: block;
    margin-left: 50px;
    position: relative;
    top: 13px;         
}
    .buttonLabel{
    display: none;
}
input{
    margin-left: 30px;
}

    
}

/* Tablet and under */
@media(max-width: 400px) and (min-width: 320px){
    .tdA{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tdB{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
   .tabelContainer .inputBox{
        width: 80%;
        text-indent: 1px;
        font-size: 9px;
    }
    .tabelContainer2 .inputBox{
        width: 85%;
        text-indent: 1px;
        font-size: 9px;
    }
    .section7 .inputBox{
        width: 60%;
        text-indent: 0px;
        font-size: 8px;
    }
   
    
    .section1 .inputNow input{
        font-size: 35px;
        
    }
    
    .ratingContainer p{
        font-size: 12px;
        
    }
    .evaluationContainer .custom-text2{
        font-size: 14px;
    }
    .welcome{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .userName{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .tabelContainer2 p{
        font-size: 16px;
    }
    .section7Text p{
        font-size: 14px;
    }
    .userEmail{
        font-size: 15px;
        margin-bottom: 20px;
    }

    
    td, tr{
        border: 1px #909497 solid ;
        padding-left: 3px;
        font-size: 10px;    
    }

    input{
        font-size: 23px;  
    }
    @-moz-document url-prefix() { 
        .section2Table input{
            font-size: 35px;   
        }
        .section3Table input{
            font-size: 75px;
        }
        
        .section4Table .inputBox{
            font-size: 10px;
            display: none;
        }
        
        .textAreaBox{
            width: 100%;
        }

      }
      
      .section7 .btn{
        margin-top: 10px;
        width: 50%;
    }
    
/* Display properties */
        .buttonPara{
        display: block;
        margin-left: 50px;
        position: relative;
        top: 13px;         
    }
        .buttonLabel{
        display: none;
    }
    input{
        margin-left: 30px;
    }
    
    
}


@media(max-width: 319px){
    
    .tdA{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tdB{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
   .tabelContainer .inputBox{
        width: 80%;
        text-indent: 1px;
        font-size: 9px;
    }
    .tabelContainer2 .inputBox{
        width: 85%;
        text-indent: 1px;
        font-size: 9px;
    }
    .section7 .inputBox{
        width: 60%;
        text-indent: 0px;
        font-size: 8px;
    }
   
    
    .section1 .inputNow input{
        font-size: 35px;
        
    }
    
    .ratingContainer p{
        font-size: 12px;
        
    }
    .evaluationContainer .custom-text2{
        font-size: 14px;
    }
    .welcome{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .userName{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .tabelContainer2 p{
        font-size: 16px;
    }
    .section7Text p{
        font-size: 14px;
    }
    .userEmail{
        font-size: 15px;
        margin-bottom: 20px;
    }

    
    td, tr{
        border: 1px #909497 solid ;
        padding-left: 3px;
        font-size: 10px;    
    }

    input{
        font-size: 23px;  
    }
    @-moz-document url-prefix() { 
        .section2Table input{
            font-size: 35px;   
        }
        .section3Table input{
            font-size: 75px;
        }
        
        .section4Table .inputBox{
            font-size: 10px;
            display: none;
        }
        
        .textAreaBox{
            width: 100%;
        }

      }
      
      .section7 .btn{
        margin-top: 10px;
        width: 50%;
    }
    
/* Display properties */
        .buttonPara{
        display: block;
        margin-left: 50px;
        position: relative;
        top: 13px;         
    }
        .buttonLabel{
        display: none;
    }
    input{
        margin-left: 30px;
    }
    
    



    
}