*{
    margin: 0px;
    padding: 0px; 
}

#bg1{
    background: linear-gradient(to bottom right, rgba(0,0,0,0.5), #41B3a3), url(image/bg1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;

}
.logo{
width: 230px;
margin-top: 10px;
margin-left: 10px;
}

.title {
    color: #fff;
    text-align: center;
    
  }
  .title h2{
      font-family: sans-serif;
      position: relative;
      top: 250px;
      font-size: 60px;
  }
  .title p{
    position: relative;
    top: 250px;
    font-family: sans-serif;
    font-size: 20px;
  }
  .title h6{
    position: relative;
    top: 240px;
    font-family: sans-serif;
    font-size: 13px;
  }
  
  .title a {
    display: inline-block;
    text-decoration: none;
    background-color: #e27d60;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    position: relative;
    top:250px;
    font-family: sans-serif;
  }
  .title a:hover {
    color: #091921;
    background-color: #fff;
  }
  #page{
      position: relative;
      top: 10px;
      font-family: sans-serif;
      font-size: 25px;
  }
  .blank {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: -100vw;
    z-index: 1000;
  }
  .transition.slide .blank1 {
    background-color: skyblue;
    animation: slide 0.3s ease-in-out forwards;
  }
  .transition.slide .blank2 {
    background-color: teal;
    animation: slide 0.3s ease-in-out forwards;
    animation-delay: 0.4s;
  }
  
  @keyframes slide {
    from {
      left: -100vw;
    }
    to {
      left: 0;
    }
  }